@import url(http://fonts.googleapis.com/css?family=Meddon);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: #373948;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 0px 0px 0px;
}

header h1 {
  float: right;
  margin: 10px 0px;
  color: white;
  font-family: 'Meddon', cursive;
}

header nav ul {
  height: 70px;
  float: left;
}

header nav ul li {
  height: 70px;
  display: inline-block;
}

header nav ul li a {
  height: 30px;
  display: block;
  padding: 17px 20px;
  color: white;
  font-size: 2.2em;
  text-decoration: none;
  border-top: 3px solid #373948;
  border-bottom: 3px solid #373948;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

header nav ul li a:hover{
  color: #373948;
}

header nav ul li a.active{
  height: 33px;
  border-bottom: none;
}

header nav ul li a.link-1 { background-color: #889795; }
header nav ul li a.link-2 { background-color: #d9c6bf; }
header nav ul li a.link-3 { background-color: #ddd1b4; }
header nav ul li a.link-4 { background-color: #d6eae6; }
header nav ul li a.link-5 { background-color: #889795; }
header nav ul li a.link-6 { background-color: #d9c6bf; }


section {
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

section#kaiser { background-color: #889795; margin-top: 80px; padding-top: 50px;}
section#snap { background-color: #d9c6bf; padding-top: 80px;}
section#htc1 { background-color: #ddd1b4; padding-top: 80px;}
section#htc2 { background-color: #d6eae6; padding-top: 80px;}
section#crumble { background-color: #889795; padding-top: 80px;}
section#ocean { background-color: #d9c6bf; }

section h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 0px;
}

section h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 2em;
  margin: 0px;
}

section .illustration {
  width: 100%;
  height: 240px;
  border: 3px solid white;
  background: url(http://placekitten.com/g/800/240) no-repeat;
  margin-top: 15px;
}

section p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em; 
}
