@charset “UTF-8”;


/******/
/* sets default values to zero, if not the browser will take control and add its default value */
* {
margin:0;
padding:0;
color: #fff;
}

body {
	background-image: url("images/backgroundImage.png");
	
}

a:link {
	color: #3299BB;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

a:visited {
	color: #3299BB;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

a:hover{
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	
}

a:active {
	color: #3299BB;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

/* adjust the paragraph’s line-height to be 1.25em; (this will add space between lines) */
/* adjust the paragraph’s margin-bottom to be 1em; (this will add space between paragraphs) */
p {
line-height:1.25em;
margin-bottom: 1em;
color: #fff;
font-family: 'Montserrat', sans-serif;
}
/* change the heading1 to be navy color */
h1 {
color: #fff;
font-family: 'Pacifico', cursive;
}



/* the main shell holding all div tags */
#wrapper {
width: 755px;
position:relative;
margin: auto;
background-color: #3299BB;
font-family: 'Montserrat', sans-serif;
}
/* top navigation div */
#navcontainer ul {
background-color: #FC9D9A;
float: left;
width: 100%;
padding-right: 32px; /* bullets are included in the padding area */
/* removing bullets requires padding to be added at the right */
}
#navcontainer ul li { /* inline keeps layout horizontal */
display: inline;

}
#navcontainer ul li a {padding: 0.2em 1em;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
color: #fff;
}
/* change the background-color to be #369 */
#navcontainer ul li a:hover { /* controls the over or hover state of rollover */
background-color: #78C0A8;
}
#navcontainer ul li #current { /* sets the link of the active page tab color to be different */
background-color: #78C0A8;
}
#main {
float: left;
width: 100%;
background-color: #BCBCBC;
padding-left:2em;
font-family: 'Montserrat', sans-serif;
}
/* adding margin-left will move the UnorderedList inside wrapper */
#main ul {
margin-left:40px;
}
/* float picture left, add margin to keep text away from image, add width */
#pictureL {
width: 300px;
float:left;
margin:10px;
font-family: 'Montserrat', sans-serif;
}
/* float picture right, add margin to keep text away from image, add width */
#pictureR {
width: 50%;
float:right;
margin:10px;
color: #fff;

}

/* set text color to white, background color to #036, position to absolute */
/* bottom postion to 0px, and width to 100% */
#footer {
color:#FFF;
background-color: #FC9D9A;
bottom: 0px;
width: 100%;
padding-right: 32px; /* fits content to match navcontainer width */
}
/* align the text to center, and margin 0 */
#footer p {
text-align:center;
margin:0;
text-transform: uppercase;
}
/* sets the anchors in the footer id to be white and no underline */
#footer a {
color:#FFF;
text-transform: uppercase;
}
#footer a:hover {
color:#fff;
background-color: #78C0A8;
}
